* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

img.header-img {
    max-height: 40px;
    margin: 5px 20px 5px 10px;
	margin-top: -10px;
}

div.banner-img {
	width: 100%;
	height: 200px;
}

.debug {
    color: black !important;
    font-weight: 600;
}

.navbar {
	margin-bottom: 0px;
}

.graf {
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.graf span {
    display: block;
    width: 600px;
    text-align: center;
    float: right;
    margin-right: 60px;
}

.graf span h1, .graf span h4 {
    margin: 0px;
    display: inline;
}

svg.graph {
  height: 410px;
  width: 700px;
  float: right;
}

svg.graph .grid {
  stroke: black;
  stroke-dasharray: 1 2;
  stroke-width: 1;
}

svg.graph .points {
  stroke: lightgray;
  stroke-width: 3;
}
svg.graph .first_set {
  fill: gray;
}

svg.graph .surfaces {
  fill-opacity: 0.5;
}

svg.graph .grid.double {
  stroke-opacity: 0.4;
}

svg.graph .labels {
  font-family: Arial;
  font-size: 14px;
  kerning: 1;
}

svg.graph .labels.x-labels {
  text-anchor: middle;
}

svg.graph .labels.y-labels {
  text-anchor: end;
}


.stars {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.stars i.fa-star {
    color: lightgray;
    font-size: 30px;
    cursor: pointer;
}

.stars i.fa-star:hover {
    color: gray;
}

.stars i.active {
    color: gold;
}

.pop-prod {
	text-align: center;
	margin-top: 20px;
}

/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 0px;
	padding-right: 0px;
}*/

.loginpage {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

.createpage {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.createpage .form-group .form {
	padding: 0px 2px; 
}

@media (min-width: 768px) {

	.createpage .form-group .form:first-child {
		padding-left: 0;
	}

	.createpage .form-group .form:last-child {
		padding-right: 0;
	}

}

.form1 {
	margin-bottom: 10px;
}

.form2 {
	margin-bottom: 20px;
}

.portrait {
	margin-top: 40px;
}

.disabled {
    color: grey;
    cursor: not-allowed;
    display: none;
}

div.error-page {
    background-color: #f1f1f1;
    min-height: calc(100vh - 52px);
}

div.error-page div.row div.col-sm-offset-4 {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    margin-top: 100px;
    margin-bottom: 50px;    
}

div.error-page h1 {
    font-size: 100px;
}

div.error-page a.gth {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*div.user-profile {
    background-color: beige;
}*/

div.user-profile div.profile-picture {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
}

div.user-profile label {
    width: 150px;
}

div.user-profile a {
    margin-top: -35px;
}

div.order-list {
    padding: 30px 10px 0 10px;
    height: calc(100vh - 53px);
}

div.order-list div {
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    overflow-y: scroll;
}

div.order-list div span.no-p {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    margin-top: 200px;
}

div.order-list div div {
    width: calc(100% - 30px);
    border-radius: 5px;
    margin: 15px auto;
    height: 100px;
    overflow: hidden;
    background-color: #d5d5d5;
    max-width: 500px;
}

div.order-list div div a {
    height: 100%;
    width: 50%;
    display: block;
    float: left;
}

div.order-list div div a span {
    display: inline-block;
    color: #4e4e4e;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    margin: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.order-list div div a.left:hover {
    background: #d5d5d5;
    background: -webkit-linear-gradient(left, #bebebe, #d5d5d5);
    background: -moz-linear-gradient(left, #bebebe, #d5d5d5);
    background: -o-linear-gradient(left, #bebebe, #d5d5d5);
    background: linear-gradient(to right, #bebebe, #d5d5d5);
}

div.order-list div div a.right:hover {
    background: #d5d5d5;
    background: -webkit-linear-gradient(left, #d5d5d5, #bebebe);
    background: -moz-linear-gradient(left, #d5d5d5, #bebebe);
    background: -o-linear-gradient(left, #d5d5d5, #bebebe);
    background: linear-gradient(to right, #d5d5d5, #bebebe);
}

div.order-list div div a span.full-w {
    width: 100%;
    text-align: right;
}

div.order-list div div a span.full-w-left {
    width: 100%;
}

div.order-list div div a span.paid {
    padding: 5px 10px;
    color: #4F8A10;
    background-color: #DFF2BF;
    border-radius: 5px;
}


div.order-overview {
    padding: 30px 10px 0 10px;
    height: auto;
}

div.order-overview div {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
}

div.order-overview div span.no-p {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    margin-top: 200px;
}

div.order-overview div div {
    width: calc(100% - 30px);
    border-radius: 5px;
    margin: 15px auto;
    height: 100px;
    overflow: hidden;
    background-color: #d5d5d5;
}

div.order-overview div div a {
    height: 100%;
    width: 50%;
    display: block;
    float: left;
}

div.order-overview div div a span {
    display: inline-block;
    color: #4e4e4e;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    margin: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.order-overview div div a.left:hover {
    background: #d5d5d5;
    background: -webkit-linear-gradient(left, #bebebe, #d5d5d5);
    background: -moz-linear-gradient(left, #bebebe, #d5d5d5);
    background: -o-linear-gradient(left, #bebebe, #d5d5d5);
    background: linear-gradient(to right, #bebebe, #d5d5d5);
}

div.order-overview div div a.right:hover {
    background: #d5d5d5;
    background: -webkit-linear-gradient(left, #d5d5d5, #bebebe);
    background: -moz-linear-gradient(left, #d5d5d5, #bebebe);
    background: -o-linear-gradient(left, #d5d5d5, #bebebe);
    background: linear-gradient(to right, #d5d5d5, #bebebe);
}

div.order-overview div div a span.full-w {
    width: 100%;
    text-align: right;
}

div.order-overview div div a span.full-w-left {
    width: 100%;
}

div.order-overview div div a span.paid {
    padding: 5px 10px;
    color: #4F8A10;
    background-color: #DFF2BF;
    border-radius: 5px;
}


div.overview-item {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 290px;
    margin: 15px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

div.center-games {
	text-align: center;
}

div.game-info {
	/*background: #e5e5e5;*/
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 210px;
    /*opacity: 0.9;*/
}

div.game-info a, div.game-info span {
    z-index: 10;
}

div.game-info div {
    height: 100%;
    width: 100%;
    background: #e5e5e5;
    opacity: 0.9;
    position: absolute;
}

div.overview-item a.edit-btn {
    float: left;
}

.edit-btn img {
	width: 20px;
	height:20px;
}

div.overview-item a.view-btn {
    position: absolute;
	right: 5px;
	bottom: 5px;
}

div.overview-item span {
    text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
    position: absolute;
    top: 28px;
    left: 0;
    padding: 5px 15px;
    max-width: 100%;
}

div.overview-item span:first-child {
    top: 0;
}

div.overview-item a.del {
    font-weight: 900;
    color: red;
    text-decoration: none;
    padding: 0px 4px;
    font-size: 20px;
    float: right;
}

.search {
	/*margin-left: 15px !important;*/
	margin-bottom: 20px !important;
}

div.hp-col {
    padding-left: 0px;
	padding-right: 0px;
    height: 200px;
}

hr.hr-mar {
    margin-top: 0px;
}

div.user-list-item a.view {
    display: block;
    height: 100px;
    width: calc(100% - 40px);
}

div.user-list-item a.view div.img {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

div.user-list-item a.view span.name {
    position: absolute;
    top: 0px;
    left: 120px;
}

div.user-list-item a.view span.role {
    position: absolute;
    top: 20px;
    left: 120px;
}

div.user-list-item a.del {
    position: absolute;
    right: 10px;
    top: -10px;
    font-weight: 900;
    color: red;
    text-decoration: none;
}

div.user-list-item a.edit {
    position: absolute;
    right: 10px;
    bottom: 30px;
}

div.game-view {
    background-color: #f1f1f1;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

div.game-view div.row div.col-md-offset-1 {
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

div.game-view div.img {
    margin: 15px 0;
    height: 70vh;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    float: left;
}

div.order-view {
    background-color: #f1f1f1;
    min-height: calc(100vh - 52px);
    overflow: hidden;
}

div.order-view div.row div.col-sm-offset-3 {
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.admin-item {
    padding: 15px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid lightgray;
}

.admin-item h2 {
    margin: 0px;
}

.admin-item:nth-child(2) {
    border-top: none;
}

.admin-item:nth-child(odd) {
    background-color: #f1f1f1;
}

.admin-item:first-child {
    margin-top: 15px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.admin-item:last-child {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}